.docs-snippet {
  background: #f8fafc;
  position: relative;

  .docs-snippet-code-block {
    margin-bottom: 15px;
    font-size: 14px;

    pre {
      padding: 15px;
    }

    code {
      font-size: 15px !important;
    }
  }

  .docs-snippet-code-block-copy {
    right: 0;
    top: 0;
    position: absolute;
    padding: 12px;
    font-size: 14px;
    opacity: 0.5;
    border-style: none;
    background-color: none;
    -webkit-appearance: button;
    cursor: pointer;
  }
}
