{{#if code}}
  {{#if title}}

  {{/if}}

  <!-- TODO: uses ember-code-snippet for copyText and snippets!! -->
  <!-- copy-button, code-snippet -->
  <div class="docs-snippet-code-block">
    {{#if showCopy}}
      <button class="docs-snippet-code-block-copy" {{action "copyToClipboard"}}>Copy</button>
    {{/if}}

    <pre>{{trimmedCode}}</pre>
  </div>
{{/if}}
