<h1>Introduction</h1>

{{docs-snippet code="ember install ember-styleguide"}}

<h2>Understanding ember-styleguide</h2>

<p>
  As we were working on the Ember.js website, we found ourselves wanting a more scalable approach to all of the Ember family of websites.
</p>

<p>
  Currently, these websites are considered "core" websites and are maintained by contributors:
</p>

<ul>
  <li>
    - emberjs.com
  </li>
  <li>
    - ember-cli.com
  </li>
  <li>
    - ember-fastboot.com
  </li>
  <li>
    - ember-engines.com
  </li>
</ul>

<p>
  Ember components are ideal for this, because all of these websites need similar types of components. By standardizing our component approach, we could more easily contribute to any of the websites in the Ember ecosystem.
</p>

<h2>Goals</h2>

<p>
  This project is currently in active development status.
</p>

<p>
  We intend to provide an easy way to create a fully accessible Ember site from the components offered in this addon.
</p>

<p>
  In the future, we plan to abstract the design and use [ember-theme-changerr](https://github.com/adopted-ember-addons/ember-theme-changerr) to allow apps to chose different styling based on the context of their app.
</p>

<h2>Contributing to the project</h2>

<p>
  As with any Ember project, contributions are welcome! Visit <a href="https://github.com/ember-learn/ember-styleguide">https://github.com/ember-learn/ember-styleguide</a> to file an issue or even better, submit a PR!
</p>

<p>
  If you have questions about the design/architecture, please contact <a href="mailto:melaniersumner@gmail.com">Melanie Sumner</a> directly.
</p>


{{link-to "Components" "documentation.components"}}
