<div id="ember-welcome-page-id-selector" data-ember-version="{{emberVersion}}">
  <div class="columns">
    <div class="tomster">
      <img src="ember-welcome-page/images/construction.png" alt="Under construction">
    </div>
    <div class="welcome">
      <h2 id="title">Congratulations, you made it!</h2>

      <p>You&rsquo;ve officially spun up your very first Ember app :-)</p>
      <p>You&rsquo;ve got one more decision to make: what do you want to do next? We&rsquo;d suggest one of the following to help you get going:</p>
      <ol>
        <li><a href="https://guides.emberjs.com/v{{emberVersion}}/getting-started/quick-start/">Quick Start</a> - a quick introduction to how Ember works. Learn about defining your first route, writing a UI component and deploying your application.</li>
        <li><a href="https://guides.emberjs.com/v{{emberVersion}}/tutorial/ember-cli/">Ember Guides</a> - this is our more thorough, hands-on intro to Ember. Your crash course in Ember philosophy, background and some in-depth discussion of how things work (and why they work the way they do).</li>
      </ol>
      <p>If you run into problems, you can check <a href="http://stackoverflow.com/questions/tagged/ember.js">Stack Overflow</a> or <a href="http://discuss.emberjs.com/">our forums</a>  for ideas and answers—someone&rsquo;s probably been through the same thing and already posted an answer.  If not, you can post your <strong>own</strong> question. People love to help new Ember developers get started, and our <a href="https://emberjs.com/community/">Ember Community</a> is incredibly supportive.</p>
    </div>
  </div>
    <p class="postscript">To remove this welcome message, remove the <code>\{{welcome-page}}</code> component from your <code>application.hbs</code> file.<br>You'll see this page update soon after!</p>
</div>
